$light: #f7f7f7;
$dark: #333333;

$bg-light: #ffc371;
$bg-dark: #ff5f6d;

/**
 * Board variables
 */
$fb-board-border-radius: 5px !default;
$fb-margin-bottom: 15px !default;
$fb-board-head-border-color: darken($light, 10%);

// Board icon
$fb-board-icon-padding: 11px !default;
$fb-board-icon-size: 18px !default;
$fb-board-head-icon-width: 45px !default;

// Board badge
$fb-board-badge-width: 80px !default;

/**
 * Bootstrap variables
 */
$grid-float-breakpoint: 99999px;

$text-color: $dark;
$font-family-base: "Raleway", sans-serif !default;
$font-size-base: 16px;

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-border-radius:             0 !default;
$navbar-default-color:             $dark !default;
$navbar-default-bg:                rgba(0, 0, 0, 0) !default;
$navbar-default-border:            rgba(0, 0, 0, 0) !default;


// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent !default;
$navbar-default-toggle-icon-bar-bg:        $bg-light !default;
$navbar-default-toggle-border-color:       transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $bg-light !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

