$light: #f7f7f7;
$dark: #333333;

$bg-light: #ffc371;
$bg-dark: #ff5f6d;

/**
 * Bootstrap variables
 */
$grid-float-breakpoint: 99999px;

$text-color: $dark;

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-border-radius:             0 !default;
$navbar-default-color:             $dark !default;
$navbar-default-bg:                rgba(0, 0, 0, 0) !default;
$navbar-default-border:            rgba(0, 0, 0, 0) !default;


// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent !default;
$navbar-default-toggle-icon-bar-bg:        $bg-light !default;
$navbar-default-toggle-border-color:       transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $bg-light !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

