.board-list {
    position: relative;
    width: 100%;
    margin-top: $fb-margin-bottom * 2;
    margin-bottom: $fb-margin-bottom * 7;
}

.subboard-list {
    padding-left: 15px;
}

.board-list > .board {

    & {
        position: relative;
        width: 100%;
        background-color: $light;
        @include board-box-shadow;
        margin-bottom: $fb-margin-bottom;
        border-radius: $fb-board-border-radius;
    }

    /**
     * Simple board
     */
    &.simple-board {

        & {

        }

        > .board-head {
            border-bottom: 1px solid $fb-board-head-border-color;
        }

    }

    /**
     * Category
     */
    &.category {

        & {

        }

        > .board-head {

            & {
                border-bottom: 1px solid $fb-board-head-border-color;
            }

            .board-title {

                @media (min-width: $screen-desktop) {
                    width: 100%;
                }

            }

        }

    }

}

.subboard-list > .subboard {

    /**
     * Simple board
     */
    &.simple-subboard {

    }

    /**
     * Extended subboard
     */
    &.extended-subboard {

    }

    .subboard-list {

    }


    &.last-grade-subboard {

        & {
            display: inline-block;
            padding: 2px 6px;
            @include board-box-shadow;
            background-color: $light;
            border-radius: $fb-board-border-radius;
        }

        .board-head {

            & {

            }

            .board-title {
                width: 100%;
                font-size: 14px;
            }

        }
    }

    /**
     * Category
     */
    &.category {

    }


}


/**
 * Board head
 */
.board-head {

    & {
        position: relative;
        width: 100%;
        //display: table-row;
    }

    .board-icon {

        & {
            display: table-cell;
            font-size: $fb-board-icon-size;
            padding: $fb-board-icon-padding;
            text-align: center;
            width: $fb-board-head-icon-width;
        }

        i {

        }

    }

    .board-title {

        & {
            display: table-cell;
            width: 100%;

            @media (min-width: $screen-desktop) {
                width: 70%;
            }
        }

        span {

        }

    }

    .board-last-thread {

        & {
            display: none;
            width: 0;

            @media (min-width: $screen-desktop) {
                display: table-cell;
                width: 30%;
            }
        }

        span {

        }

    }

    .board-badge {

        & {
            display: table-cell;
            padding: 6px 11px 6px 11px;
        }

        .badge {
            @include fb-board-badge;
        }

    }

}